<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>

        .row{
            display: flex;
            justify-content: center;
        }

        .button{
            padding: 0px 10px;
        }
    </style>

    <title>Dr. Page</title>
</head>
<body>
    
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="text-primary">Welcome Dr. {{doc.first_name}}!</h1>
            <h3>Fill your draft blogs!</h3>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            {% for i in draft_blog %}
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" style="height:200px">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-text">{{i.summary}}</p>
                      <a href="" class="btn btn-primary">UPDATE</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <br><br>

</body>
</html>